body {
background-color: #faf8e8;
}




ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;

}



li a {
  color: #2a2d34;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ffbf00;
  color: white;
}

li a:hover:not(.active) {
  background-color: #fe4a49;
  color: white;
}

.row-1 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
justify-content: space-between;
}

.logo {
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: : 0px;

}
.flexcontainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  border-bottom: #1047c9;
  justify-content: flex-end;
  padding-top: 10px;
}





.row-2 {
  background-image: url('./images/outsidetheboxbackground.png');
  background-repeat: no-repeat;
  background-size: contain;
}






h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #2a2d34;
  text-align: center;


 }
