* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffff;
  border-top: 15px solid #fe4a49;
}


nav ul {
  list-style: none;
  padding: 0;
  background: #fe4a49;
  left: 10%;
transform: translateX(-10%);
}

nav ul li a {
  font-size: 1.2rem;
  color: #2a2d34;
  text-decoration: none;
  padding: .8rem 1rem;
  display: block;

}

nav ul li {
  border-bottom: 1px solid #ffff;
  float: left;
}


/* logo styling*/

nav div:first-child {
  background: #ffff;
}

nav div:first-child h1{
line-height: 0;
padding: .8rem 0rem;
text-align: center;
}

nav div:first-child img {
  height:  9.37rem;
  background-color: #fe4a49;
}

nav div:first-child h1, nav ul{
  margin: 0;
}

/* Desktop style*/

@media only screen and (min-width: 30em) {
  nav {
    display: flex;
    justify-content: space-between;
    background: #ffff;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav div:first-child h1 {
    padding:0;
    margin-left: 0 1rem;
  }

  nav div:first-child img {
    background-color: #ffff;
  }

  nav ul li {
    border-bottom: none;
    display: inline;
    text-align: center;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a {
    padding: 1.2rem 1rem;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-size: 1.25em;


  }

  nav ul li a::before, nav ul li a::after {
content: "";
width: 0%;
height: 2px;
background: #fe4a49;
position: absolute;
bottom: 0;
right: 0;
transition: .2s width ease-in-out;
}

nav ul li a::before{
  left: 0;
}

nav ul li a:hover::after, nav ul li a:hover::before{
  width: 50%;
}

}

h1, h2 {
  color: red;
}

.title {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes title {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}




/* MAIN*/

main {
  display: flex;
}



/* SLIDER*/
.mySlides {
  display: none

}
.slideimg {
  vertical-align: middle;
  max-height: 780px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* SECTION*/

.main-1 {
  display: flex;
  background-image: url(".././images/stdunbg.jpg");
  background-size: cover;
  padding: 15% 10%;
  max-width: 100%;
  border-top: 20px solid #fe4a49;
  border-bottom: 15px solid #fe4a49;
}


.main-1 section h1 {
  font-size: 3.5em;
  color: White;
  max-width: 100%;
}


 .main-1 section h2 {
  font-size: 2em;
  color: white;
}

.main-2 {
  display: flex;
  padding: 5%;

}

.main-2 article {
      order: 1; min-width: 75%;
      display: block;
      padding-right: 5%;
      padding-left: 2%;
    }

    .gallery {
      margin: 10px 50px;
      display: flex;
      flex-wrap: wrap;

    }

    .gallery img {
      width:230px;
      padding: 5px;
      filter: grayscale(100%);
    }

    .gallery img:hover {
      filter: grayscale(0);
      transform: scale(1.1 );
    }

  .main-2  aside {
    display: block;
      order: 2;
      min-width: 35%;
      border-left: 1px solid #2a2d34;
      padding-left: 5%;

    }


footer {
  margin: 0;
  background-color: #fe4a49;
  padding: 3%;
}




/*
body {
background-color: #FAF8E8;
}



.header {
  margin: 0;
  height: 25%;
  padding-top: 0%;
  text-align: center;
}








.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: right;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;

}



li a {
  color: #2a2d34;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ffbf00;
  color: white;
}

li a:hover:not(.active) {
  background-color: #fe4a49;
  color: white;
}

.row-1 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: : 0px;
  align-items:

}

.logo img {
  height: 150px;
width: auto;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
justify-self: stretch;
}







.row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-2 img {
  width: 1440px;
  height: 637.5px;
}



h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #2a2d34;
  text-align: center;


 }
*/
