html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('../images/landing1.jpg') no-repeat 50% 50%;
  display: table;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #f9f3f4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.btn {
  border-radius: 9px;
  border: 4px solid #f9f3d4;
  font-family: 'Raleway', sans-serif;
  color: #f9f3f4;
  font-size: 135%;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn:hover {
  color: #D01A1E;
  border: 4px solid #D01A1E;
  background: #f9f3f4;
  transition: .2s ease-in;
}

p {
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}

.container{
  margin: 0 auto;

}

.parallax{
  background: url('../images/tourist2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

footer {
  width: 100%;
  height: 5%;
  background-color: #D01A1E;
  color: #f9f3f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  padding: 20px;
}
